#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1
export DH_VERBOSE=1

%:
	dh $@ --with autotools_dev

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_strip:
	dh_strip --dbg-package=libczmq-dbg
